@model SpaceparkWebApp.Models.Traveller

@{
<<<<<<< Updated upstream
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="mb-3">
        <h1>Traveller Name: @Model.Name</h1>
    </div>
    <div class="alert-dark">
        <p class="p-2">
            @Html.ActionLink("Create New", "Create", new { name = Model.Name })
        </p>
    </div>
    <div>
        <h3>Spaceships List</h3>
        <table class="table table-striped table-bordered">

            <tr class="table-bordered warning">
                <th>
                    @Html.DisplayNameFor(model => model.Spaceships.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Spaceships.FirstOrDefault().Length)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Spaceships)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { name = Model.Name }) |
                        @Html.ActionLink("Delete", "Delete", new { name = Model.Name })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
=======
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Traveller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
>>>>>>> Stashed changes
